@use "../global/use.scss";

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  color: use.$color-white;
  background-color: use.$color-purple;
  border-radius: 40px;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-raleway-20;
    line-height: 23.5px;
    padding: 16px 90px 16px 84px;
    letter-spacing: 1.3px;
  }

  @include use.media-tablet {
    @include use.font-raleway-28;
    line-height: 33px;
    padding: 17px 105px 18px 105px;
    letter-spacing: 1.8px;
  }

  @include use.media-desktop {
    left: 37px;
  }

  &:focus,
  &:hover {
    background: use.$color-pink;
    outline: none;
  }

  &:active {
    background: use.$color-light-pink;
  }
}
