@use "../global/use.scss";

.nav {
  position: relative;
  z-index: 5;

  @include use.media-mobile-only {
    padding-top: 8px;

    &--closed .nav__toggle-close {
      display: none;
    }

    &--closed .nav__toggle-open {
      display: block;
    }

    &--opened .nav__toggle-open {
      display: none;
    }

    &--opened .nav__toggle-close {
      display: block;
    }

    &--closed .nav__wrapper {
      display: none;
    }

    &--opened .nav__wrapper {
      display: block;
    }

    &--nojs .nav__toggle {
      display: none;
    }

    &--nojs .nav__wrapper {
      display: block;
      position: relative;
      width: 100%;
      top: 0;
      margin: 0;
    }
  }

  @include use.media-tablet {
    display: flex;
    justify-content: space-between;
    padding: 22px 26px 23px;
  }

  @include use.media-desktop {
    padding: 24px 192px 25px 156px;
  }
}

.nav::after {
  @include use.media-mobile-only {
    content: "";
    display: block;
    width: 100vw;
    height: 4px;
    box-shadow: 0 4px 4px rgba(88, 13, 101, 0.6);
    position: absolute;
    top: 64px;
    z-index: 2;
  }
}

.nav__logo {
  display: inline-block;
  position: relative;
  outline: none;

  @include use.media-mobile-only {
    left: 26px;
  }

  @include use.media-tablet {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  @include use.media-desktop {
    column-gap: 10px;
  }

  &:hover .nav__img-leaf,
  &:hover .nav__img-text {
    fill: use.$color-ultragreen;
    color: use.$color-ultragreen;
  }

  &:focus-visible .nav__img-leaf,
  &:focus-visible .nav__img-text {
    fill: use.$color-aquamarine;
  }

  &:active .nav__img-leaf,
  &:active .nav__img-text {
    fill: use.$color-aquamarine;
  }
}

.nav__img {
  display: block;
  position: relative;

  @include use.media-mobile-only {
    width: 52px;
    height: 52px;
  }

  @include use.media-tablet {
    width: 59px;
    height: 59px;
  }
}

.nav__img-leaf {
  fill: use.$color-green;
}

.nav__img-text {
  display: none;

  @include use.media-tablet {
    display: block;
    width: 65px;
    height: 36px;
    position: relative;
    top: 2px;
    fill: use.$color-green;
  }
}

.nav__text {
  display: block;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  @include use.media-tablet {
    display: none;
  }
}

.nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 3;
  top: 4px;
  right: 21px;
  outline: none;

  &:hover .nav__toggle-open,
  &:hover .nav__toggle-close {
    color: use.$color-ultragreen;
  }

  &:focus-visible .nav__toggle-open,
  &:focus-visible .nav__toggle-close {
    color: use.$color-ultragreen;
  }

  &:active {
    opacity: 0.6;
  }

  @include use.media-tablet {
    display: none;
  }
}

.nav__toggle-open {
  color: use.$color-green;
}

.nav__toggle-close {
  position: relative;
  right: -9px;
  top: 1px;
  color: use.$color-aquamarine;
}

.nav__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 67px;
  margin: 0;

  @include use.media-tablet {
    display: inline-flex;
    position: relative;
    width: auto;
    margin: 0;
    top: 4px;
  }

  @include use.media-desktop {
    top: 1px;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @include use.media-mobile-only {
    padding: 20px 0;
    background-color: use.$color-lite-aqua;
    min-height: 320px;
  }

  @include use.media-tablet {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 500px;
    column-gap: 16.5px;
    row-gap: 10px;
  }

  @include use.media-desktop {
    max-width: 850px;
    column-gap: 28px;
  }
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include use.media-mobile-only {
    align-items: start;
    padding: 12.5px 40px;
  }

  @include use.media-tablet {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    align-items: start;
    width: 112px;
    top: -2px;
  }

  @include use.media-desktop {
    width: 132px;
    top: 2px;
  }
}

.nav__link {
  @include use.font-raleway-20;
  font-size: 20.34px;
  line-height: 27px;
  color: use.$color-black;
  text-decoration: none;
  position: relative;
  outline: none;

  @include use.media-mobile-only {
    top: -2px;
  }

  &:hover,
  &:focus-visible {
    color: use.$color-ultragreen;
  }

  &:active {
    color: use.$color-green;
  }

  &:disabled {
    opacity: 0.6;
  }

  &--first {
    @include use.media-tablet {
      left: 2px;
    }

    @include use.media-desktop {
      left: 0;
    }
  }

  &--current {
    color: use.$color-green;
  }
}
