$color-white: #ffffff;
$color-black: #000000;
$color-lite-white: #fbfcfe;
$color-lite-aqua: #f1f6fc;
$color-gray: rgba(142, 152, 146, 0.7);
$color-purple: #6a107a;
$color-pink: #b22ec8;
$color-light-pink: rgba(106, 16, 122, 0.6);
$color-green: #0f805d;
$color-ultragreen: #7bdb0a;
$color-aquamarine: rgba(15, 128, 93, 0.5);
$color-light-red: #ff8282;
$color-delivery: #d6dde3;
